<!DOCTYPE html>
<!---i was here -volas-->
<html lang="en" data-lt-installed="true"><head>
    <title>NSFW API by Lancar Teknologi Indonesia</title>
    <meta content="NSFW API" name="twitter:site">
    <meta content="summary" name="twitter:card">
    <meta content="NSFW API" name="twitter:title">
    <meta content="NSFW API" name="twitter:description">
    <meta content="NSFW API" property="og:site_name">
    <meta content="object" property="og:type">
    <meta content="NSFW API" property="og:title">
    <meta content="NSFW API" property="og:description">
</head>
 <body><pre>NSFW API Usage:
 Text Classification:  <p href="api/json/graphical">"api/json/graphical/classification/urlgoeshere"</p>
</pre>
</body></html>
